.container{
    background-color: aqua;
    height: 100vh;
    
    
}
.child{
    display: flex;
    height: 120 px;
    margin-left: 30px;
    padding: 60px 20px 20px 20px;
    margin-top: 40px;
    color: white;
}
.boxmodel{
    height: 160px;
    width: 160px;
    background-color: rgb(62, 87, 129);
    margin: 10px 10px 10px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}